[submodule "trl"]
	path = trl
	url = https://github.com/tjbai/trl
[submodule "transformers"]
	path = transformers
	url = https://github.com/tjbai/transformers
[submodule "lm-evaluation-harness"]
	path = lm-evaluation-harness
	url = https://github.com/EleutherAI/lm-evaluation-harness
